__pycache__/
.ipynb_checkpoints/
.idea/
docs/source/_build/
src/MeasureIt/MeasureIt.egg-info
.DS_Store
.vscode/settings.json
*.pyc
*.ipynb
!examples/*.ipynb
!examples/content/*.ipynb
!tests/*.ipynb
build/
Drivers/attodry.py
databases/testdatabase.db
databases/testdatabase.db-shm
databases/testdatabase.db-wal
